.upload-page {
    .ant-upload {
        position: relative;

        background-color: #d8d8d8;
        border-radius: 30px !important;
        overflow: hidden !important;
        width: 100% !important;
        &:has(.upload-btn) {
            height: 453px !important;
        }
        &:has(.upload-img) {
            width: fit-content !important;
            max-width: 374px !important;
            height: fit-content !important;
            max-height: 453px !important;
        }
    }
    .ant-input {
        border-radius: 15px;
        padding: 15px;
    }
}
