@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
