.image-items {
    img {
        transition: all 0.1s;
    }
    .overlay {
        display: none;
    }
    &:hover {
        img {
            filter: brightness(0.5);
        }
        .overlay {
            display: block;
        }
    }
}

.img-big-container {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    /* grid-column: 3;
    column-count: 3; */
}
