.image-items {
    img {
        transition: all 0.1s;
    }
    .overlay,
    .img-btn {
        display: none;
    }
    &:hover {
        img {
            filter: brightness(0.5);
        }
        .overlay {
            display: block;
        }
        .img-btn {
            display: flex;
        }
    }
}
